*.DS_store
*.Rhistory
*.Rapp.history
*.history

*.history

analyses/.RData

analyses/graphs/.DS_Store

*.history

analyses/.Rapp.history

*.history

docs/outline/Budburst.synctex.gz

docs/outline/Budburst.log

docs/outline/Budburst.aux
.Rproj.user

*.RData

*.RData

*.aux

*.gz

*.aux

*.gz

*.log

*.aux

*.lot

*.log

docs/ms/Budburst-concordance.tex

*.lot

*.bbl
